/* Noflo themed css */

.light /deep/ .bg-theme {
	background-color: hsl(0, 0%, 94%);
	color: black;
}

.dark /deep/ .bg-theme {
	background-color: background-color: hsla(0, 0%, 0%, 0.99);
	color: white;
}

.light /deep/ .route {
	font-weight: bold;
	color: black;
}

.light /deep/ .route input {
	color: black;
}

.light /deep/ .bg-theme /deep/ h1 {
	text-shadow: none;
}
.dark /deep/ .bg-theme /deep/ h1 {
	text-shadow: hsl(0, 0%, 0%) 0px 1px;
}

.light /deep/ .bg-theme /deep/ h2,
.light /deep/ .blue-theme {
	color: hsl(185, 98%, 46%);
	font-weight: bold;
}
.dark /deep/ .bg-theme /deep/ h2,
.dark /deep/ .blue-theme {
	color: hsla(190, 100%, 80%, 0.8);
}